.contacts{
    padding: 2%;
    margin: 1rem auto;
    width: 50vw;
    height: 70vh;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: rgba(77, 76, 76, 0.2);
}
.contacts::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    filter: blur(90px);
    height: 100%;
    background: url(images/plp-logo.png) no-repeat center;
    background-size: cover;
}
h2{
    text-align: center;
    
}
input{
    height: 300vh;
    width: 100%;
    background-color:rgba(65, 63, 63, 0.2) ;
    border: none;
    font-family: 'Times New Roman';
    font-weight: bold;
    font-size: 17px;
}
textarea{
    width: 100%;
    height: 400vw;
    border: none;
    font-size: 17px;
    font-family: 'Times New Roman';
    font-weight: bold;
    background-color:rgba(56, 55, 55, 0.2);
}
button{
    background-color: #973416;
    font-size: 18px;
    font-weight: bold;
    border: none;
    height: 300vh;
}