* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: sans-serif;
  }
  
  header {
    background-color: #01a2a8;
    
    /* padding: 1rem 2rem; */
  }
  a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    /* text-transform: uppercase; */
  }
  
  /* nav styles */
  
  .nav {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
   
  }
  
  .hamburger {
    padding-right: 20px;
    cursor: pointer;
    
  }
  
  .hamburger .line {
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background-color: white;
  }
  
  .nav__link {
    position: fixed;
    width: 100%;
    top: 5.5rem;
    background-color: #01a2a8;
  }
  
  .nav__link a {
    display: block;
    text-align: center;
    padding: 10px 0;
  }
  
  .nav__link a:hover {
    color: #0c2344;
  }
  
  .hide {
    display: none;
  }
  
  
.sect{
    margin-top: 6rem;
    margin-left: 4rem;
    justify-content: space-between;
    display: flex;
    
    gap: 6rem;
}
.prt1{
    
    align-items: center;
    
    justify-content: space-between;
    gap: 2rem;
    font-family: sans-serif;

}
.prt1 >button{
    background-color: #01a2a8;
    border-radius: 999px;
    padding: 1rem 2rem;
    margin-bottom: 1.5rem;

    
}
.prt1 >h2{
    margin-bottom: 1.5rem;
    font-size: 25px;
}
.prt1 >p{
    margin-bottom: 1rem;
    line-height: 26px;
    font-size: 15px;
    /* font-weight: bold; */
}
.prt2 >img{
    width: 400px;
    height: 300px;
    margin-right: 200px;    
    align-items: center;
    border-radius: 50%;

}
.prt11{
    
    
    display: flex;
    gap: 4rem;
}
.prt11 .prt11-1{
    background-color: #01a2a8;
    border-radius: 999px;
    padding: 1rem 2rem;
    cursor: pointer;
    margin-top: 2rem;
}
.prt11 .prt11-1:hover{
    background-color:black;
    color: white;
    
}
@media screen and (min-width: 600px){
    .nav__link{
        display: block;
        position: static;
        width: auto;
        margin-right: 20px;
        background: none;
    }
    .nav__link a{
        display: inline-block;
        padding: 15px 20px;
    }
    .hamburger{
        display: none;
    }
    
}
.head{
  margin: auto;
  margin-top: 2rem;
  /* padding: 4%; */
}
.head>h1{
  /* text-align: center; */
  margin-bottom: 1rem;
  margin: auto;
}
.head>p{
  /* margin-bottom: 1rem; */
  margin: auto;
}
.cards{
  justify-content: space-evenly;
 
  display: flex;
 
  /* height: fit-content; */
  margin-top: 3%;
  /* padding:5%; */
  gap: 3rem;
  flex-wrap: wrap;

}
.card{
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  /* width: auto; */
  width: 30%;
  height:35vh;
  /* margin-bottom: px;} */}
  .contes{
    justify-content: space-evenly;
    display: block;
    gap: 2rem;
    align-items: center;
    padding: 5%;
  }.card >p{
    text-align: center;
    line-height: 1.5rem;
    font-family: sans-serif;
  }
  .card > h1{
    text-align: center;
    font-weight: bold;
  }
  .card>.fa-home {
   justify-content: center;
   color: cyan;
   display: flex;
   margin-bottom: 0.5rem;
   font-size: 2rem;
  }
  .card>.fa-mobile{
    justify-content: center;
   color: cyan;
   display: flex;
   margin-bottom: 0.5rem;
   font-size: 2rem;
  }
  .card>.fa-envelope-open{
    justify-content: center;
    color: cyan;
    display: flex;
    margin-bottom: 0.5rem;
    font-size: 2rem;
  }


  .card:hover{
    opacity: 0.9;
    transition: 0.3s;
    background-color: #973416;
    color: white;
  }
